.my-navbar {
  display: flex;
  justify-content: space-between;
  min-width: 100vh;
  position: relative;
  background: #0f4471;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.navbar-logo {
  img{
    max-height: 30px;
  }
    position: absolute;
    left: 6px;
    top: 4px;
}

.navbar-search {
  height: 30px;
  margin-top: 3px;
  border-radius: 3px;
  margin-left: 25px;

}
.navbar-form{
  margin-left: 5px;
}

.navbar-form-input {
  border-radius: 3px;
  padding-left: 5px;
  margin-top: -1px;
  max-height: 35px;
  border: none;
  border-color: currentcolor;
  background: white;
}
.navbar-form-input::placeholder {
  color: #fc3c3c;
  font-family: 'Philosopher', sans-serif;
}
.navbar-title{
  // font-family: 'Baloo Chettan', cursive;
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 30px;
  margin-top:-3px;
  margin-left: -30px;
}


.navbar-right{
  position: relative;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.badge-container{
  position: absolute;
  left:15px;
  top: 0px;
  color: white;
}

.navbar-item{
  img{
  position: absolute;
  right:35px;
  top:-15px;
  }
}
.dropdown-menu{
  margin-top: 20px;
  margin-right: 20px;
}
